.lightSlider {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

.lightSlider-internal{
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.ls-li {
    display: block;
    float: left;
    cursor:pointer;
    background-color: lavender;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    min-height: 300px;
    border-radius: 5px;
    border: solid lightgrey;
}
.ls-li-internal {
    display: block;
    float: left;
    cursor:pointer;
    background-color: lavender;
    min-height: 300px;
    border: solid lightgrey;
}
.ls-img {
    display: block;
    height: auto;
    max-width: 100%;
}
#content-col{
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 15px;
}

.lSAction > a{
    border-radius: 5px;
}

.lSAction > .lSPrev {
    left: 5% !important;
    background: grey;
    background-image: url('../img/controls.png');
}
.lSAction > .lSNext {
    right: 5% !important;
    background: grey;
    background-image: url('../img/controls.png');
    background-position: -32px 0;
}
.arrow{
    font-size: 30px;
    position:absolute;
}
#left-arrow{
    left:30%;
    top:10px;
    z-index: 100;
}
#right-arrow{
    right: 30%;
    top:10px;
    z-index: 100;
}
.int-title{
    text-align: center;
}
.close-modal{
    right: 0;
    bottom: 0;
    position: static;
}
.modal-footer{
    border: transparent;
}