.lightSlider {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

.lightSlider-interior {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.ls-li {
    display: block;
    float: left;
    cursor:pointer;
    background-color: lavender;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    min-height: 300px;
    border-radius: 5px;
    border: solid lightgrey;
}
.ls-img {
    display: block;
    height: auto;
    max-width: 100%;
}
#content-col{
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 15px;
}

.lsAction > a{
    opacity: 1 !important;
}

.internal-carousel{
    position: absolute;
}

.lSPrev {
    background:grey;
    border-radius: 20px;

}
.lSNext {
    background:grey;
    border-radius: 20px;

}
