
#left-container{
    width:58.5%;
    margin-left: 1%;
    height:100%;
    display: inline-block;
    padding: 5px;
    opacity: .85;
    float: left;
}
#right-container{
    width: 38.5%;
    margin-right: .5%;
    height: 100%;
    display:inline-block;
    padding: 5px;
    opacity: .85;
    float: right;
}
.gallery-container{
    height: 93%;
    padding-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
}
.left-img-holder{
    width: 100%;
    height:46%;
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.right-img-holder{
    width:100%;
    height:92%;
    background-color: lightgray;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#second-left{
    margin-top: 2%;
}

.gallery-cover{
    width:100%;
    height: 100%;
}
.cover-title{
    color: white;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.title-shader{
    position: absolute;
    bottom: 0;
    width: 100%;
    height:25%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(43,43,43,0.6) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(43,43,43,0.6) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(43,43,43,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#992b2b2b',GradientType=0 );
}

.edit-modal{
    position: absolute;
}
.edit-btn{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    color: black;
    border-radius: 0;
}

.internal-gallery{
    background: black;
    display: none;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 5px;
    padding: 10px;
    pointer-events: auto !important;
}
.close-internal{
    color: white;
    background: gray;
    opacity: .3;
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: auto !important;
    z-index: 100;
}

.expandable.active{
    pointer-events: none;
}
.lightSlider {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.ls-li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.ls-img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: center;
    horiz-align: center;
    position: relative;
}
.lSSlideOuter{
    position: relative;
}

.int-title{
    position: absolute;
    z-index: 1000;
}
.group-container{
    height: inherit;
    width: inherit;
}
