html,body{
    height: 100%;
    width:100%;
    font-family: Arial;
    background-color: white;
}

/*Navbar stuff*/
#home-button{
    margin-top: 5px!important; /*okay to use important when overridng outside libraries*/
}
nav.navbar{
    margin-bottom: 0;
}
#nav-line{
    width: 90%;
    height: 1px;
    background-color: darkgray;
    margin-top: -1px;
    margin-left: 5%;
}
footer{
    margin-top: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
ul{
    position: relative;
    width: 100%;
}
ul.page-nav{
    display: table;
    height:3%;
    align-items: center;

}
ul.page-nav > li{
    display: table-cell;
    width: 15%;
    text-align: center;

}
ul.logo-nav > li{
    width: 22%;
    margin-top: .5%;
}

li{
    margin: 0 auto;
    position: inherit;
}
a.page-nav, a.logo-nav{
    position: inherit;
    height: 100%;
    color: black;
}
a:hover{
    text-decoration: none;
    color: grey;
    background-color: transparent !important;
}
object{
    pointer-events: none;
}
.navbar-fixed-top{
    position: static;
}

/*dropdown stuff*/
div.w3-sidebar, button.w3-button{
    z-index: 5000;
    background-color: whitesmoke;

}
object.logo-mobile{
    display: none;
}
@media (max-width: 480px){
    nav ul.logo-nav, nav ul.page-nav {
        display: none;
    }
    button.w3-button{
        display: inline-block;

    }
    object.logo-mobile{
        display: inline-block;
        float: left;
        width: 33%;
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
    #sidebar-btn{
        background-color: white;
    }
    #sidebar-btn:hover{
        background-color: white !important;
    }
}
@media (min-width: 481px){
    div.w3-sidebar{
        display:none;
    }
    button.w3-button{
        display: none;

    }
    object.logo-mobile{
        display: none;
    }

}
.row{
    width: 90%;
    margin-left: 5%;
}
.zero-border-radius{
    border-radius: 0;
}
.zero-padding{
    padding: 0;
}