html,body{
    height: 100%;
    width:100%;
    font-family: Arial;
    background-color: white;
}

/*Navbar stuff*/
#home-button{
    margin-top: 5px!important; /*okay to use important when overridng outside libraries*/
}

nav.navbar{
    font-weight: 600;
    margin-bottom: 0;
}
#nav-line{
    width: 90%;
    height: 1px;
    background-color: darkgray;
    margin-top: -1px;
    margin-left: 5%;
}
footer{
    bottom: 0;
    position: static;
    z-index: 10;
    font-family: cursive;
    height: 8%;
    background-color: whitesmoke;
    width: 90%;
    margin: 0 5%;
    text-align: center;
    padding-top: 1%;
}
.nav{
    position: relative;
    width: 100%;
}
ul.page-nav{
    display: table;
    height:3%;
    align-items: center;

}
ul.page-nav > li{
    display: table-cell;
    width: 15%;
    text-align: center;

}
ul.logo-nav > li{
    width: 22%;
    margin-top: .5%;
}

ul.nav > li{
    margin: 0 auto;
    position: inherit;
}
a.page-nav, a.logo-nav{
    position: inherit;
    height: 100%;
    color: black;
}
a:hover{
    text-decoration: none;
    color: grey;
    background-color: transparent !important;
}
object{
    pointer-events: none;
}
.navbar-fixed-top{
    position: relative;
    z-index: 10;
}

/*dropdown stuff*/
div.w3-sidebar, button.w3-button{
    z-index: 5000;
    background-color: whitesmoke;

}
object.logo-mobile{
    display: none;
}
#company-descriptors{
    display: table;
    margin: 0 auto;
    font-family: "Goudy Old Style";
    font-weight: bold;
    margin-top: -1%;

}

@media (max-width: 500px){
    #company-descriptors-mobile{
        display: inline-block;
        position: static;
        font-size: small;
        margin: 5%;
        font-family: "Goudy Old Style";
        font-weight: bold;
    }
    nav ul.logo-nav, nav ul.page-nav {
        display: none;
    }
    button.w3-button{
        display: inline-block;

    }
    object.logo-mobile{
        display: inline-block;
        float: left;
        width: 33%;
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 2%;
    }
    #sidebar-btn{
        background-color: transparent;
    }

}
@media (min-width: 501px){
    #company-descriptors-mobile{
        display: none;
    }
    #company-descriptors{
        font-size: large ;
    }
    div.w3-sidebar{
        display:none;
    }
    button.w3-button{
        display: none;

    }
    object.logo-mobile{
        display: none;
    }

}

.row{
    width: 90%;
    margin-left: 5%;
}
.zero-border-radius{
    border-radius: 0;
}
.zero-padding{
    padding: 0;
}
.title{
    position: relative;
    height: 10%;
    font-size: xx-large ;
    display: block;

}
.glyphicon.glyphicon-one-fine-full-dot {
    overflow: hidden;
}
.glyphicon.glyphicon-one-fine-full-dot:before {
    content:"\25cf";
}
#modify-page{
    position: absolute;
    top:20px;
    right:20px;
    font-size: larger;
    z-index: 15;
}

#admin-login{
    color: blue;
}

