
.lightSlider {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.ls-li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.ls-img {
    display: block;
    height: auto;
    max-width: 100%;
}
#content-col{
    padding-top: 5px;
    padding-left: 6%;
    padding-right: 6%;
}
.arrow{
    font-size: 30px;
    position:absolute;
}
@media only screen and (min-width: 579px) {
    #left-arrow{
        left:25%;
        top:20px;
        z-index: 100;
    }
    #right-arrow{
        right: 25%;
        top:20px;
        z-index: 100;
    }
    .dropdown{
        position: absolute;
        right:0;
        top:0;
    }
}
@media only screen and (max-width: 578px) {
    #left-arrow{
        left:0;
        top:0;
        z-index: 100;
    }
    #right-arrow{
        right: 0;
        top:0;
        z-index: 100;
    }
    .dropdown{
        position: absolute;
        right:45%;
        top:0;
    }
    .siema{
        margin-top: 10%;
    }
}

.int-title{
    text-align: center;
}


#delete-photo{
    position: absolute;
    top: 0;
    right: 5px;
}
.form-control{
    width: 70%;
    float: left;
}
.add-photo{
    position: absolute;
    top: 0;
    right: 5px;
}
hr{
    color:gray;
    background-color: gray;
}
