
.lightSlider {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.ls-li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.ls-img {
    display: block;
    height: auto;
    max-width: 100%;
}
#content-col{
    padding-top: 10px;
    padding-left: 22%;
    padding-right: 22%;
}
.arrow{
    font-size: 30px;
    position:absolute;
}
#left-arrow{
    left:25%;
    top:20px;
    z-index: 100;
}
#right-arrow{
    right: 25%;
    top:20px;
    z-index: 100;
}
.int-title{
    text-align: center;
}
.dropdown{
    position: absolute;
    right:3%;
    top:5%;
}


#modify-page{
    right: 20px;
}
#delete-photo{
    position: absolute;
    top: 0;
    right: 5px;
}
.form-control{
    width: 70%;
    float: left;
}
.add-photo{
    position: absolute;
    top: 0;
    right: 5px;
}
hr{
    color:gray;
    background-color: gray;
}
