.row.code{
    background-color: #d5d5d5;
    margin: 2% auto;
    vertical-align: middle;
    height: 25%;
    display: block;

}
.row.swirl-placement{
    width: 80%;
    margin:  2% 10%;

}
.row.registry-pic{
    position: relative;
}

.swirl{
    position: relative;
    height: 15%;
    width: 100%;
    float: none;
    display: block;
}


.title.head{
    text-align: center;
    margin-top:7%;
    margin-bottom:10%;
    color: white;

}
.title.section{
    margin-top: 2%;
    margin-bottom: 2%;
    color: gray;
}
.price, .item, .item-description{
    color: gray;
}
.price.right{
    float: right;
}
.code-button{
    background-color: silver;
    display: block;
    color:white;
    border-width: 0;
    margin-top:10%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 40px;
    font-size: x-large;
    position: relative;
}

img.get-started{
    width: 100%;
    position: relative;
    display: block;
    margin: 0;
}
.get-started-text{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: xx-large;
    color: white;
}
.sign-up{
    margin-top: 2%;
    margin-bottom: 2%;
}
.item-info{
    margin: 3% 5%;
}
.item-info.smaller{
    margin-right: 40%;
}
.item-image{
    margin-right: 5%;
}
.title.subpage{
    color: grey;
}
.post-line{
    margin-top: 7px;
    width:90%;
    height: 1px;
    background-color: lightgray;
    position: relative;}

.cart{
    width: 80%;
    margin-bottom: 2%;
}