.row.code{
    background-color: #d5d5d5;
    margin: 2% auto;
    vertical-align: middle;
    height: 25%;
    display: block;

}
.row.swirl-placement{
    width: 80%;
    margin:  2% 10%;

}
.row.registry-pic{
    position: relative;
}

.swirl{
    position: relative;
    height: 15%;
    width: 100%;
    float: none;
    display: block;
}


.have-code{
    text-align: center;
    margin-top:7%;
    margin-bottom:10%;
    position: relative;
    height: 10%;
    font-size: xx-large ;
    color: white;
    display: block;

}

.code-button{
    background-color: silver;
    display: block;
    color:white;
    border-width: 0;
    margin-top:10%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 40px;
    font-size: x-large;
    position: relative;
}

img.get-started{
    width: 100%;
    position: relative;
    display: block;
    margin: 0;
}
.get-started-text{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: xx-large;
    color: white;
}
