<div class="content-container" ng-controller="aboutCtrl">
    <div class="row">
        <div class="col-md-12">
            <img src=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>Store Hours</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="social facebook"></span>
            <span class="social instagram"></span>
            <span class="social mail"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <img src=""/>
        </div>
        <div class="col-md-5 description">
            <div>About Us</div>
        </div>
    </div>
</div>

