<div class="container-fluid" ng-controller="homeCtrl">

    <!--Carousel-->
    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5250">
        <!--slide wrapper-->
        <div class="carousel-inner">
            <div class="item" th:each="photo : ${page.photos}" th:classappend="${photoStat.index == 0} ? active : ''">
                <img th:src="${photo.photo_path}" th:alt="${photo.photo_text}"/>
            </div>
        </div>
        <!-- controls-->
        <div id="control-container">
            <a href="#carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left arrow"></span>
            </a>
            <ol class="carousel-indicators">
                <li data-target="#carousel" th:each="photo : ${page.photos}"
                    th:classappend="${photoStat.index == 0} ? active : ''"
                    th:attr="data-slide-to=${photoStat.index}"></li>
            </ol>
            <a href="#carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right arrow"></span>
            </a>
            <a id="playButton" type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-play"></span>
            </a>
            <a id="pauseButton" type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pause"></span>
            </a>
        </div>
    </div>


</div>