<div class="container-fluid" ng-controller="homeCtrl">
    <div id="gallery-row" class="row main">
        <div class="col-md-2">
            <div>
                <img class="curl curl-left" src="/img/curly.jpg"/>
            </div>
        </div>
        <div id="gallery-col" class="col-md-8">
            <!--Carousel-->
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!--slide wrapper-->
                <div class="carousel-inner">
                    <div class="item" th:each="photo : ${page.photos}" th:classappend="${photoStat.index == 0} ? active : ''">
                        <img th:src="${photo.photo_path}" th:alt="${photo.photo_text}"/>
                    </div>
                </div>
                <!-- controls-->
                <div id="control-container">
                    <a href="#carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" th:each="photo : ${page.photos}" th:classappend="${photoStat.index == 0} ? active : ''" th:attr="data-slide-to=${photoStat.index}"></li>
                    </ol>
                    <a href="#carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div id="post-line"></div>
        </div>
        <div class="col-md-2">
            <div>
                <img class="curl curl-right" src="/img/curly-right.jpg"/>
            </div>

        </div>
    </div>


</div>