<div class="container-fluid" ng-controller="homeCtrl">
    <div class="row">
        <div class="col-md-12">
            <!--Carousel-->
            <div id="carousel" class="carousel slide" data-ride="carousel">

                <!--index controls-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel" th:each="photo : ${page.photos}" th:classappend="${photoStat.index == 0} ? active : ''" th:attr="data-slide=${photoStat.index}"></li>
                </ol>

                <!--slide wrapper-->
                <div class="carousel-inner">
                    <div class="item" th:each="photo : ${page.photos}" th:classappend="${photoStat.index == 0} ? active : ''">
                        <img th:src="${photo.photo_path}" th:attr=""/>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <!--TODO:BlogPosts here-->

</div>