<!DOCTYPE html>
<!--This page is the main html index for the site. it is the wrapper around all content pages.
Html templates are inserted via thymeleaf/angularJS-->
<html ng-app="indexApp" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="${page.title}"></title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

        <script src="/js/index.js"></script>
        <script th:src="@{|/js${page.template}.js|}"></script>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>

        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{|/css${page.template}.css|}"/>

    </head>
    <body >
        <nav class="navbar navbar-fixed-top">
            <ul class="nav logo-nav">
                <li>
                    <a id="home-button" class="active home-btn" href="/">
                        <object class="logo-link" data="/img/logoHDRemaster.svg" type="image/svg+xml">
                            <img src="/img/logo.png" /><!--for browsers with no svg support-->
                        </object>
                    </a>
                </li>
            </ul>
            <ul class="nav page-nav">
                <li>
                    <a class="services-btn" href="/services">SERVICES</a>
                </li>
                <li>
                    <a class="about-btn" href="/about">ABOUT</a>
                </li>
                <li>
                    <a class="registry-btn" href="/registry">REGISTRY</a>
                </li>
                <li>
                    <a class="gallery-btn" href="/gallery">GALLERY</a>
                </li>
                <li>
                    <a class="inspiration-btn" href="/inspire">INSPIRE</a>
                </li>
            </ul>
            <object class="logo-mobile" data="/img/logoHDRemaster.svg" type="image/svg+xml">
                <img src="/img/logo.png" /><!--for browsers with no svg support-->
            </object>

            <button id="sidebar-btn" class="w3-button w3-xlarge w3-right" onclick="w3_open()">☰</button>
            <div id="nav-line"></div>
        </nav>
        <div class="w3-sidebar w3-bar-block w3-animate-right" style="display:none;right:0" id="mySidebar">
            <button onclick="w3_close()" class="w3-bar-item w3-button w3-large">Close &times;</button>
            <a href="/" class="w3-bar-item w3-button">HOME</a>
            <a href="/services" class="w3-bar-item w3-button">SERVICES</a>
            <a href="/about" class="w3-bar-item w3-button">ABOUT</a>
            <a href="/registry" class="w3-bar-item w3-button">REGISTRY</a>
            <a href="/gallery" class="w3-bar-item w3-button">GALLERY</a>
            <a href="/inspire" class="w3-bar-item w3-button">INSPIRE</a>
        </div>
        <!--thymleaf inserts correct html template based on spring data model in controller-->
        <div th:replace="${page.template}"></div>
    </body>
</html>