<!DOCTYPE html>
<!--This page is the main html index for the site. it is the wrapper around all content pages.
Html templates are inserted via thymeleaf/angularJS-->
<html ng-app="indexApp" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="${page.title}"></title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

        <script src="/js/lightslider.js"></script>


        <script src="/js/index.js"></script>
        <script th:src="@{|/js${page.template}.js|}"></script>



        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>

        <link type="text/css" rel="stylesheet" href="/css/lightslider.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{|/css${page.template}.css|}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>


    </head>
    <body >
        <nav class="navbar navbar-fixed-top">
            <ul class="nav logo-nav">
                <li>
                    <a id="home-button" class="active home-btn" th:href="@{${page.permissions}+'/'}">
                        <object class="logo-link" data="/img/logoHDRemaster.svg" type="image/svg+xml">
                            <img src="/img/logo.png" /><!--for browsers with no svg support-->
                        </object>
                    </a>
                </li>
                <span id="company-descriptors">
                home
                <span class="glyphicon glyphicon-one-fine-full-dot"></span>
                design
                <span class="glyphicon glyphicon-one-fine-full-dot"></span>
                lifestyle
                </span>
            </ul>

            <ul class="nav page-nav">
                <li>
                    <a class="about-btn" th:href="@{${page.permissions}+'/about'}">ABOUT</a>
                </li>
                <li>
                    <a class="registry-btn" th:href="@{${page.permissions}+'/registry'}">REGISTRY</a>
                </li>
                <li>
                    <a class="gallery-btn" th:href="@{${page.permissions}+'/gallery'}">GALLERY</a>
                </li>
                <li>
                    <a class="inspiration-btn" th:href="@{${page.permissions}+'/inspire'}">INSPIRE</a>
                </li>
                <li>
                    <a class="services-btn" th:href="@{${page.permissions}+'/interiors'}">INTERIORS</a>
                </li>
                <li>
                    <a class="services-btn" th:href="@{${page.permissions}+'/events'}">EVENTS</a>
                </li>
            </ul>
                <object class="logo-mobile" data="/img/logoHDRemaster.svg" type="image/svg+xml">
                    <img src="/img/logo.png" /><!--for browsers with no svg support-->
                </object>
            <span id="company-descriptors-mobile">
                home
                <span class="glyphicon glyphicon-one-fine-full-dot"></span>
                design
                <span class="glyphicon glyphicon-one-fine-full-dot"></span>
                lifestyle
            </span>
            <button id="sidebar-btn" class="w3-button w3-xlarge w3-right" onclick="w3_open()">☰</button>
            <div id="nav-line"></div>

        </nav>
        <div class="w3-sidebar w3-bar-block w3-animate-right" style="display:none;right:0" id="mySidebar">
            <button onclick="w3_close()" class="w3-bar-item w3-button w3-large">Close &times;</button>
            <a th:href="@{${page.permissions}+'/'}" class="w3-bar-item w3-button">HOME</a>
            <a th:href="@{${page.permissions}+'/about'}" class="w3-bar-item w3-button">ABOUT</a>
            <a th:href="@{${page.permissions}+'/registry'}" class="w3-bar-item w3-button">REGISTRY</a>
            <a th:href="@{${page.permissions}+'/gallery'}" class="w3-bar-item w3-button">GALLERY</a>
            <a th:href="@{${page.permissions}+'/inspire'}" class="w3-bar-item w3-button">INSPIRE</a>
            <a th:href="@{${page.permissions}+'/interiors'}" class="w3-bar-item w3-button">INTERIORS</a>
            <a th:href="@{${page.permissions}+'/events'}" class="w3-bar-item w3-button">EVENTS</a>
        </div>
        <!--thymleaf inserts correct html template based on spring data model in controller-->
        <div th:replace="${page.template}"></div>
        <footer>
            <button data-target="#photo-modal" data-toggle="modal"  title="Manage Photos" id="manage-photo" th:if="${page.permissions == '/admin'}" class="btn btn-default">
                <span class="glyphicon glyphicon-upload">Manage Photos</span>
            </button>
            Urban Farmhouse - Milton, GA  | <a id="admin-login" href="/login">Admin Login</a>
        </footer>
        <div class="modal fade" id="photo-modal" th:if="${page.permissions == '/admin'}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">Close</button>
                        <h4 class="modal-title">Upload Photos</h4>
                    </div>
                    <div class="modal-body">
                        <form id ="photo-form" method="post" enctype="multipart/form-data" action="/admin/img/" class="form-horizontal">
                            <table>
                                <tr><td>Photo to upload:</td><td><input type="file" name="file" /></td></tr>
                                <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>