<div class="container-fluid" ng-controller="interiorsCtrl">
    <div class="row">
        <div id = "content-col" class = "col-md-12">
            <script src="/js/siema.min.js"></script>
            <span id="left-arrow" class="arrow prev glyphicon glyphicon-chevron-left"></span>
            <div class="siema">
                <div th:each="interior :  ${page.interiors}">
                    <h3 class="int-title" th:text="${interior.address}"></h3>
                    <ul class="lightSlider">
                        <li class="ls-li" th:each="photo : ${interior.photos}" th:attr="data-thumb=${photo.thumb_path}">
                            <img class="ls-img" th:src="${photo.photo_path}" th:alt="${photo.photo_text}" />
                        </li>
                    </ul>
                </div>
            </div>

            <span id="right-arrow" class="arrow next glyphicon glyphicon-chevron-right"></span>
            <script>
                const mySiema = new Siema();
                document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
                document.querySelector('.next').addEventListener('click', () => mySiema.next());
            </script>

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Addresses<span class="caret"></span> </button>
                <ul class="dropdown-menu">
                    <li th:each="interior,iter : ${page.interiors}">
                        <p th:classappend="|dropdown${iter.index}|" th:text="${interior.address}"></p>
                        <script th:utext='|document.querySelector(".dropdown${iter.index}").addEventListener("click", () => mySiema.goTo(${iter.index}));|'>  </script>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button ng-click="loadEditData()" data-target="#edit-page-modal" data-toggle="modal" title="modify page"
            id="modify-page" th:if="${page.permissions == '/admin'}" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"> Edit Page</span>
    </button>
</div>