<div class="container-fluid" ng-controller="interiorsCtrl">
    <div class="row">
        <div id = "content-col" class = "col-md-12">
            <script src="/js/siema.min.js"></script>

            <span id="left-arrow" class="arrow prev glyphicon glyphicon-chevron-left"></span>
            <div class="siema">
                <div th:each="interior :  ${page.interiors}">
                    <h3 class="int-title" th:text="${interior.address}"></h3>
                    <ul class="lightSlider">
                        <li class="ls-li" th:each="photo : ${interior.photos}" th:attr="data-thumb=${photo.thumb_path}">
                            <img class="ls-img" th:src="${photo.photo_path}" th:alt="${photo.photo_text}" />
                        </li>
                    </ul>
                </div>
            </div>

            <span id="right-arrow" class="arrow next glyphicon glyphicon-chevron-right"></span>
            <script>
                const mySiema = new Siema();
                document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
                document.querySelector('.next').addEventListener('click', () => mySiema.next());
            </script>

            <!--<div id="meta-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="lightSlider">
                            <li class="ls-li" th:each="photo : ${page.interiors[0].photos}" th:attr="data-thumb=${photo.thumb_path}">
                                <img class="ls-img" th:src="${photo.photo_path}" th:alt="${photo.photo_text}" />
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="lightSlider">
                            <li class="ls-li" th:each="photo : ${page.interiors[1].photos}" th:attr="data-thumb=${photo.thumb_path}">
                                <img class="ls-img" th:src="${photo.photo_path}" th:alt="${photo.photo_text}" />
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="left carousel-control" href="#meta-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#meta-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>-->


           <!-- <ul id="lightSlider">
                <li class="ls-li" th:each="photo : ${page.interiors[0].photos}" th:attr="data-thumb=${photo.thumb_path}">
                    <img class="ls-img" th:src="${photo.photo_path}" th:alt="${photo.photo_text}" />
                </li>

            </ul>-->


            <!--<div id="int-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                &lt;!&ndash;slide wrapper&ndash;&gt;
                <div class="carousel-inner">
                    <div class="item" th:each="photo : ${page.interiors[0].photos}" th:classappend="${photoStat.index == 0} ? active : ''">
                        <img th:src="${photo.photo_path}" th:alt="${photo.photo_text}"/>
                    </div>
                    <div>
                        <ul class="carousel-indicators list-inline">
                            <li class="list-inline-item" data-target="#int-carousel" th:each="photo : ${page.interiors[0].photos}"
                                th:classappend="${photoStat.index == 0} ? active : ''"
                                th:attr="data-slide-to=${photoStat.index}">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>