<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Login</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" href="/css/login.css" th:href="@{/css/login.css}"/>
    </head>

    <body class="container-fluid">
        <div id="login-container" align="center">
            <object id="logo" class="logo-link" data="/img/logoHDRemaster.svg" type="image/svg+xml">
                <img src="/img/logo.png" /><!--for browsers with no svg support-->
            </object>


            <h3 id="login-title">Urban Farmhouse Admin Login</h3>

            <div th:if="${param.error}" class="message">
                Invalid Credentials
            </div>
            <div th:if="${param.logout}" class="message">
                You have been logged out
            </div>
            <form th:action="@{/login}" method="post" class="loginForm">
                <div class="form-group">
                    <label> User Name : <input class="input-field form-control" type="text" name="username"/> </label>
                </div>
                <div class="form-group">
                    <label> Password: <input class="input-field form-control" type="password" name="password"/> </label>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Sign In"/>
                </div>
            </form>
        </div>



    </body>
</html>