<div class="content-container" ng-controller="registryCtrl">
    <div class="row">
        <div class="col-md-3 registry-svg-left">
            <img src="/img/swirl.png"/>
        </div>
        <div class="col-md-6 registry-code">
            <form class="form-horizontal">
                <div class="form-group">
                </div>
            </form>
        </div>
        <div class="col-md-3r egistry-svg-right">
            <img src="/img/swirl 2.png"/>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 registry-signup1">
            <form class="form-horizontal">
                <div class="form-group">
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                </div>
            </form>
        </div>
        <div class="col-md-6 registry-signup2">
            <form class="form-horizontal">
                <div class="form-group">
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                </div>
            </form>
        </div>
    </div>
</div>

