<div class="content-container" ng-controller="registryCtrl">
    <div class="row code main">
        <div class="row swirl-placement">
            <div class="col-md-4 swirl-left">
                <img class="swirl" src="/img/swirl-flip.png"/>
            </div>
            <div class="col-md-4">
                <div class="title head">Have a code?</div>
                <form onsubmit="redirectSubpage()" class="code-input" id="custom-search-input">
                    <input type="text" class="form-control input-lg zero-border-radius"
                           placeholder="Enter Registry Code Here"/>
                    <button class="code-button" type="submit">Submit</button>
                </form>
            </div>
            <div class="col-md-4 swirl-right">
                <img class="swirl" src="/img/swirl.png"/>
            </div>
        </div>
    </div>
    <div class="row registry-pic main">
        <img class="get-started" src="/img/registry-get-started.jpg"/>
        <div class="get-started-text">GET STARTED</div>
    </div>
    <div class="row sign-up main">
        <form>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email"/>

                </div>
                <div class="form-group">
                    <label for="phnumber">Phone Number:</label>
                    <input type="tel" class="form-control" id="phnumber"/>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="event">Event Decription/Comments:</label>
                    <textarea rows="6" cols="50" type="text" placeholder="What will your registry be for?" class="form-control" id="event"></textarea>
                </div>
            </div>
        </form>

    </div>
    <div class="row registry-gallery subpage">
        <div class="title section">Event</div>
        <div class="post-line small-rule subpage"></div>
        <div class="title section">Item</div>
        <div class="item-info">
            <span class="item-info">
                <div class="price">Price</div>
                <div class="item-description">Description</div>
            </span>
            <span class="item-image">
                <img src=""/>
            </span>
            <div class="post-line small-rule subpage"></div>
        </div>
        <div>
        </div>
        <div class="post-line small-rule subpage"></div>
    </div>
    <div class="row cart subpage">
        <div class="title section">Cart</div>
        <div class="item-info smaller">
            <span class="item">Item</span>
            <span class="price right">Price</span>
        </div>
        <div class="post-line small-rule subpage"></div>

    </div>
</div>

