<div class="content-container" ng-controller="servicesCtrl">
    <div class="row main events">
        <div class="col-md-12">
            <div class="title carousel-title">Events</div>

            <!--Carousel-->
            <div id="carousel-events" class="carousel slide" data-ride="carousel" data-interval="false">
                <!--slide wrapper-->
                <div class="carousel-inner">

                </div>
                <!-- controls-->

                <a href="#carousel-events" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <ol class="carousel-indicators">
                </ol>
                <a href="#carousel-events" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <div class="post-line"></div>

        </div>
    </div>
    <div class="row main interiors">
        <div class="col-md-12">
            <div class="title carousel-title">Events</div>

            <!--Carousel-->
            <div id="carousel-interior" class="carousel slide" data-ride="carousel" data-interval="false">
                <!--slide wrapper-->
                <div class="carousel-inner">
                    <div class="nested-carousel item first-child">
                    <div id="nested-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!--slide wrapper-->
                        <div class="carousel-inner">
                            <div class="picture item first-child">
                                <img src="/img/about-main.jpg"/>
                            </div>
                            <div class="picture item">
                                <img src="/img/registry-get-started.jpg"/>
                            </div>
                            <div class="picture item">
                                <img src="/img/about-main.jpg"/>
                            </div>
                        </div>

                    </div>
                    <a href="#nested-carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <ol class="carousel-indicators">
                    </ol>
                    <a href="#nested-carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    </div>
                    <div class="nested-carousel item">
                    <div id="nested-carousel2" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!--slide wrapper-->
                        <div class="carousel-inner">
                            <div class="picture item first-child">
                                <img src="/img/registry-get-started.jpg"/>
                            </div>
                            <div class="picture item">
                                <img src="/img/about-main.jpg"/>
                            </div>
                            <div class="picture item">
                                <img src="/img/registry-get-started.jpg"/>
                            </div>
                        </div>

                    </div>
                    <a href="#nested-carousel2" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <ol class="carousel-indicators">
                    </ol>
                    <a href="#nested-carousel2" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    </div>
                </div>
                <!-- controls-->

                <a href="#carousel-interior" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <ol class="carousel-indicators">
                </ol>
                <a href="#carousel-interior" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

</div>