<div class="content-container" ng-controller="servicesCtrl">
    <div class="row main events">
        <div class="col-md-12">
            <div class="title carousel-title">Events</div>

            <!--Carousel-->
            <div class="carousel slide" data-ride="carousel" data-interval="false">
                <!--slide wrapper-->
                <div class="carousel-inner">

                </div>
                <!-- controls-->

                <a href="#carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <ol class="carousel-indicators">
                </ol>
                <a href="#carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="post-line"></div>
    <div class="row main interiors">
        <div class="col-md-12">
            <div class="title carousel-title">Interiors</div>

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <!--place nested carousel-->
                    </div>
                    <div class="item">

                    </div>
                </div>

            </div>
            <div id="post-line"></div>
        </div>
    </div>

</div>