<div class="content-container" ng-controller="servicesCtrl">
    <div class="row main events">
        <div class="col-md-12">

            <div class="v-centered">
                <div class="carousel">
                    <div class="roll">
                        <div th:each="service : ${page.services}" class="project">
                            <h2 th:text="${service.service_title}"></h2>
                            <div th:text="${service.service_text}"></div>
                        </div>
                    </div>
                    <div class="sections">
                    </div>
                    <button class="navigation" id="nav-left"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    <button class="navigation" id="nav-right"><span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
            </div>

            <!--<div class="title carousel-title">Events</div>

            &lt;!&ndash;Carousel&ndash;&gt;
            <div id="carousel-events" class="carousel slide" data-ride="carousel" data-interval="false">
                &lt;!&ndash;slide wrapper&ndash;&gt;
                <div class="carousel-inner">

                </div>
                &lt;!&ndash; controls&ndash;&gt;

                <a href="#carousel-events" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <ol class="carousel-indicators">
                </ol>
                <a href="#carousel-events" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <div class="post-line"></div>-->

        </div>
    </div>
    <div class="row main interiors">
        <div class="col-md-12">
            <!--<div class="title carousel-title">Interiors</div>

            &lt;!&ndash;Carousel&ndash;&gt;
            <div id="carousel-interior" class="carousel slide" data-ride="carousel" data-interval="false">
                &lt;!&ndash;slide wrapper&ndash;&gt;
                <div class="carousel-inner">
                    <div class="nested-carousel item first-child">

                    </div>
                    <div class="nested-carousel item">

                    </div>
                </div>
                &lt;!&ndash; controls&ndash;&gt;

                <a class="carousel-navigation-outer prev" href="#carousel-interior" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <ol class="carousel-indicators">
                </ol>
                <a class="carousel-navigation-outer next" href="#carousel-interior" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>-->
        </div>
    </div>

</div>